.add-movie-main {
  background-color: rgba(113, 158, 113, 0.9);
  padding: 1rem;
  position: fixed;
  top: 13%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem rgba(50, 50, 50, 0.3);
  pointer-events: all;
}

.add-label {
  font-size: large;
}

.add-big-container {
  border-color: black;
  border: 0.5rem;
}

.add-small-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.add-buttons-position {
  display: flex;
  justify-content: end;
  padding: 0.5rem;
}

.add-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.add-edit {
  width: 65%;
  font-size: large;
}

.add-text-area {
  height: 5rem;
}

.add-button {
  height: 2rem;
  width: 8rem;
  font-size: large;
  border-radius: 0.5rem;
  box-shadow: 0.15rem 0.15rem rgba(50, 50, 50, 0.3);
  cursor: pointer;
}
