.modal-main {
  background-color: blueviolet;
  height: 50%;
  width: 50%;
  position: fixed;
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem rgba(50, 50, 50, 0.3);
  pointer-events: all;
}
