.movie-card-main {
  background-color: cadetblue;
  /* height: 50%;
  width: 50%; */
  width: 16rem; /*36rem;*/
  height: 9.5rem; /*32rem;*/

  border-radius: 1rem;
  padding: 1rem;
}

.card-article {
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 0.5rem;
}

.card-line {
  display: flex;
  justify-content: space-between;
  width: 16rem; /*32rem;*/
}

.card-text {
  font-size: large;
  /* text-wrap: wrap; */
}

.card-big-line {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* height: 12rem; */
  /* width: %; */
  /* text-wrap: wrap; */
  /* border-color: black;
  border: 1rem; */
}

.card-textarea {
  background-color: whitesmoke;
  text-wrap: wrap;
  /* width: 31rem;
  height: 15rem;
  max-width: 34rem; */
  width: 15rem;
  height: 5rem;
  max-width: 15rem;
  word-wrap: break-word;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.card-disabled {
  pointer-events: none;
  /* color: #aaa;
  background: dimgray;
  border-style: dashed;
  border-color: darkslategrey; */
}
