.movie-card-main {
  background-color: cadetblue;
  width: 16rem;
  height: 9.5rem;

  border-radius: 1rem;
  padding: 1rem;
}

.card-article {
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 0.5rem;
}

.card-line {
  display: flex;
  justify-content: space-between;
  width: 16rem;
}

.card-text {
  font-size: large;
}

.card-big-line {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-textarea {
  background-color: whitesmoke;
  text-wrap: wrap;
  width: 15rem;
  height: 5rem;
  max-width: 15rem;
  word-wrap: break-word;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.card-disabled {
  pointer-events: none;
}
