.container {
  display: flex;
  justify-content: left;
  align-content: start;
  flex-wrap: wrap;
  gap: 1rem;

  padding: 2%;
  background-color: darkseagreen;
}

.disabled {
  pointer-events: none;
}
